.Button {
  font-size: 14px;
  font-weight: 500;
  padding: 0.5rem 0.8rem;
  border-radius: 999px;
  border: none;
}

.Button:hover {
  cursor: pointer;
  background-color: var(--color-primary-accent);
  color: whitesmoke;
}