.filter {
  font-size: 14px;
  font-weight: 500;
  /* color: var(--orange-highlight); */
  padding: 0.5rem 0.8rem;
  border-radius: 999px;
  border: none;
}

.filter:hover {
  cursor: pointer;
  background-color: var(--color-secondary);
  color: whitesmoke;
}