.SearchBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 999px;
  background-color: var(--color-card-backgroud);
  border: 1px solid var(--color-border);
  padding: 0.5rem 0.8rem;
  width: 50%;
}

.SearchInput {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.05rem;
  padding: 0 0.5rem;
}

.SearchIcon:hover,
.XIcon:hover {
  cursor: pointer;
}

.hovered {
  border-color: var(--color-primary-accent);
}