.NavBarContainer {
  width: 100%;
  padding: 1rem 0;
  /* background-color: var(--color-primary-accent); */
  border-bottom: 1px solid var(--color-border);
  display: flex;
  justify-content: center;
}

.NavBar {
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NavBar h1 {
  color: var(--color-primary-accent);
}