.filtersContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid gray;
}

.filtersGroup {
  display: flex;
  gap: 1rem;
}

.filtersContainer button {
  color: var(--orange-highlight);
  background-color: transparent;
  padding: .5rem .8rem;
  border-radius: 999px;
  border: none;
  font-weight: 600;
}

.filtersContainer button:hover {
  cursor: pointer;
  background-color: rgb(233, 233, 237);
}