@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@layer components {
  .font-montserrat {
    font-family: "Montserrat", sans-serif;
  }
}

* {
  font-family: "Montserrat", sans-serif;
}

.no-tailwind-markdown * {
  all: revert; /* Resets inherited Tailwind styles */
}

.no-tailwind-markdown p {
  margin: 0.5rem 0;
}
